[Unit]
Description=Stats Display on SSD1306 Oled Screen Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/python3 /usr/bin/statsdisplay_start.py
ExecStop=/usr/bin/python3 /usr/bin/statsdisplay_stop.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
